<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '' %}css/clone3b.css">
    <title>clone3b|Home-Page</title>
</head>
<body>
    <!-- HEADER starts here   -->
    {% block header %} {% endblock header %}
    <!-- HEADER starts here   -->


    <!-- ourpage  starts here -->
    {% block ourpage %} {% endblock ourpage %}
    <!-- ourpage  ends here -->

    <!-- OUR PLACE starts here  -->
    {% block place %} {% endblock place %}
    <!-- OUR PLACE ends here  -->

 


    <!-- FUSSCE A PORTITITIOR AUGUE starts here  -->
    {% block fussce %} {% endblock fussce %}
    <!-- FUSSCE A PORTITITIOR AUGUE ends here  -->



    <!-- BEAUTIFUL starts here  -->
    {% block beautiful %} {% endblock beautiful %}
    <!-- BEAUTIFUL ends here  -->




    <!-- IMAGES GRIDE starts here  -->
    {% block images %} {% endblock images %}
    <!-- IMAGES GRIDE ends here  -->

 
    <!-- PAGE1-DESCRIPTION starts here -->
    {% block description %} {% endblock description %}
    <!-- PAGE1-DESCRIPTION ends here -->


    <!-- CONTACT PAGE start here  -->
    {% block contact %} {% endblock contact %}
    <!-- CONTACT PAGE ends here  -->


    <!-- FOOTER  starts here -->
    {% block footer %} {% endblock footer %}
    <!-- FOOTER  ends here -->
    <script src="js/readme.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>