<section class="page1-description">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="blank6"></div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="text-4">
                <p>
                    Description text for beautiful rollovers using text color <br>
                    code #999 for this line. Quisque pharetra mauris in <br>
                    libero vaius tristique.
                </p>
            </div>
        </div>
    </div>
</section>
