<section class="footer">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="blanka">
                <p class="i4">
                    Fusce a porttitor augue. Phasellus <br>
                    nec faucibus erat, vitae sagittis arcu. <br>
                    Quisque viverra dui purus, at rutrum <br>
                    nibh suscipit ut.
                </p>
                <p>
                    “Lorem ipsum dolor sit amet, <br>
                    consectetur adipiscing elit. Duis <br>
                    cursus ac mauris maximus auctor.”
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="media">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-google-plus"></i>
            </div>
        </div>
    </div>
</section>

<!-- COPYRIGHT  -->
<section class="copyright">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="blank9"></div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="copy-text">
                <p>
                    Copyright &copy; sided - Design by <a href="">Tomisin-isaac</a>
                </p>
            </div>
        </div>
    </div>
</section>