<section class="fussce">
    <div class="row reverse">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="blank4">
                <div class="text-3">
                    <h3>Fusce a porttitor augue</h3>
                    <p>
                        Quisque rutrum dapibus odio vitae tincidunt. Etiam <br>
                        sollicitudin augue non porta interdum. Pellentesque <br>
                        placerat orci at libero ornare, nec viverra justo <br>
                        lobortis. Phasellus venenatis eros non.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="image1">
                <img src="{{setting.fusce.url}}" alt="">
            </div>
        </div>
    </div>
</section>