<section class="header">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 ptog" >
            <div class="blank">
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 ptog">
            <div class="text">
                <h1>SIDED</h1>
                <P>new theme just for you</P>
                <br>
                <hr>
            </div>
        </div>
    </div>
</section>
<section class="header">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="blank2">
                <p>
                    Nullam eget dignissim orci. Donec tincidunt blandit libero <br>
                    iaculis fermentum. Aliquam erat volutpat. Interger <br>
                    suscipit aliquam augue ac rutrum. Phasellus sit amet erat <br>
                    id sapien efficitur euismod.
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">

        </div>
    </div>
</section>