<div class="images-gride">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="blank5">
                <div class="container">
                    <div class="boxp">
                        <div class="row">
                            <div class="imgbox col-sm-12 col-md-6 col-lg-6">
                                <img src="{{setting.beautiful1.url}}">
                                <div class="overlay">
                                    <div class="overtext">
                                        <h2>Messy <span>Duke</span></h2>
                                        <p>When he looks at <br>
                                            the sky, he <br> feels to
                                            run
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="imgbox col-sm-12 col-md-6 col-lg-6">
                                <img src="{{setting.beautiful2.url}}">
                                <div class="overlay">
                                    <div class="overtext">
                                        <h2>Messy <span>Duke</span></h2>
                                        <p>When he looks at <br>
                                            the sky, he <br> feels to
                                            run
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="container">
                    <div class="boxp">
                        <div class="row">
                            <div class="imgbox col-sm-12 col-md-6 col-lg-6">
                                <img src="{{setting.beautiful3.url}}">
                                <div class="overlay">
                                    <div class="overtext">
                                        <h2>Messy <span>Duke</span></h2>
                                        <p>When he looks at <br>
                                            the sky, he <br> feels to
                                            run
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="imgbox col-sm-12 col-md-6 col-lg-6">
                                <img src="{{setting.beautiful4.url}}">
                                <div class="overlay">
                                    <div class="overtext">
                                        <h2>Messy <span>Duke</span></h2>
                                        <p>When he looks at <br>
                                            the sky, he <br> feels to
                                            run
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        
    </div>
</div>