{% extends 'base.html' %}
{% load static %}

<!-- HEADER starts here   -->
{% block header %} {% include 'header.html' %} {% endblock header %}
<!-- HEADER starts here   -->




<!-- OUR PLACE starts here  -->
{% block place %} {% include 'place.html' %} {% endblock place %}
<!-- OUR PLACE ends here  -->




<!-- FUSSCE A PORTITITIOR AUGUE starts here  -->
{% block fussce %} {% include 'fussce.html' %} {% endblock fussce %}
<!-- FUSSCE A PORTITITIOR AUGUE ends here  -->



<!-- BEAUTIFUL starts here  -->
{% block beautiful %} {% include 'beautiful.html' %} {% endblock beautiful %}
<!-- BEAUTIFUL ends here  -->




<!-- IMAGES GRIDE starts here  -->
{% block images %} {% include 'images.html' %} {% endblock images %}
<!-- IMAGES GRIDE ends here  -->


<!-- PAGE1-DESCRIPTION starts here -->
{% block description %} {% include 'description.html' %} {% endblock description %}
<!-- PAGE1-DESCRIPTION ends here -->


<!-- CONTACT PAGE start here  -->
{% block contact %} {% include 'contact.html' %} {% endblock contact %}
<!-- CONTACT PAGE ends here  -->


<!-- FOOTER  starts here -->
{% block footer %} {% include 'footer.html' %} {% endblock footer %}
<!-- FOOTER  ends here -->